@model PageViewModel
@{
    ViewData["Title"] = "Page";
}
@if (!string.IsNullOrEmpty(@Model.Parts.ToList().FirstOrDefault().Subsection))
{
    <h1>@Model.Parts.ToList().FirstOrDefault().Subsection</h1>
}
else
{
    <h1>@Model.Parts.ToList().FirstOrDefault().Section</h1>
}

<div class="row">
    @foreach (var part in Model.Parts.ToList())
    {
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-2">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@part.PartName</h5>
                    <p class="card-text">@part.Availibility</p>
                </div>
            </div>
        </div>
    }
    <p>@Model.PageInfo.PageNumber</p>
    @if (Model.PageInfo.PageNumber > 1)
    {
        @Html.ActionLink("<<", "PreviousPage", "Home")
    }
    
    @if (Model.PageInfo.TotalPages != Model.PageInfo.PageNumber)
    {
        @Html.ActionLink(">>", "NextPage", "Home")
    }

</div>
